# Ignore node_modules (already installed inside container)
node_modules

# Ignore Angular build output (we build fresh inside container)
dist

# Ignore local dev files
.git
.gitignore
.angular
.vscode
*.log
Dockerfile
